/* Общие стили */
body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
	font-size: 15px;
	font-weight: 520;
	user-select: none;
	background-color:#000;
}

/* Экраны */
.screen {
    display: none; /* Все экраны скрыты по умолчанию */
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen.active {
    display: flex; /* Показываем только активный экран */
}


/* Экран 0 (стартовый с фоном) */
#screen0 {
    background-color: black;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

#screen0 img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    cursor: pointer;
}

/* Сканер */
#qr-reader {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#qr-reader video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    object-fit: cover;
}

/* Общий контейнер */
#TULPARsuccess,
#odengi,
#simbank,
#mbank {
    background-color: black;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Фон */
#TULPARsuccess .TULPARsuccess-bg,
#odengi .TULPARsuccess-bg,
#simbank .TULPARsuccess-bg,
#mbank .TULPARsuccess-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    z-index: 0;
}

/* Контент поверх фона */
#TULPARsuccess > *:not(.TULPARsuccess-bg),
#odengi > *:not(.TULPARsuccess-bg),
#simbank > *:not(.TULPARsuccess-bg),
#mbank > *:not(.TULPARsuccess-bg) {
    position: relative;
    z-index: 1;
}

#parseError {
    background-color: black;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#error-bg, .error-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    z-index: 0;
}

.errMsgBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #131313;
    color: #606060;
    border-radius: 20px;
    height: 115px;
    width: 280px;
    box-sizing: border-box;
    padding: 15px 20px 20px 25px;
    position: relative;
    z-index: 2;
}


.ErrBtn {
    position: absolute;
    bottom: 15px;
    right: 20px;

    font-size: 14px;
    color: #088840;
	z-index:3;
}


.history-box {
    display: flex;
    flex-direction: column; /* 👈 это главное */
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    background-color: #131313;
    border-radius: 20px;
    min-height: 100px;
    width: calc(100% - 30px);
    box-sizing: border-box;

    position: relative;
    z-index: 1;
}
.success-image {
    margin-top: 25px;
    width: 98%;
    height: auto;
    object-fit: contain;
}

.dotted-line {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px); /* отступы по 15px */
    margin: 0;
    height: 1px; /* Базовая высота */
    position: relative;
}

.dotted-line::before,
.dotted-line::after {
    content: "";
    flex-shrink: 0;
}

.dotted-line div {
    width: calc(100% / 32);
    height: 1px;
    background-color: #606060;
    transform: scaleY(0.6);           /* <== основная магия */
    transform-origin: center top;     /* или 'center' если нужно вертикальное выравнивание */
}



.custom-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background: transparent;
  border: none;
}

.custom-table td {
  width: 50%;
  word-wrap: break-word;
  white-space: normal;
  padding: 0 20px;
  padding-bottom: 8px;
  background: transparent;
  border: none;
}

.custom-table td:first-child {
  color: #606060;
  text-align: left;    /* Левый столбец - по левому краю */
}

.custom-table td:last-child {
  color: #a1a1a1;
  text-align: right;   /* Правый столбец - по правому краю */
}

.table-container {
  max-height: 33vh;
  overflow-y: auto;
  width: 100%;
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

.table-container::-webkit-scrollbar {
  display: none;
}

.final {
	text-align: left;
	color: #606060;
	padding: 0 20px;
	width: 100%;
	
}



/* страница ввода оплаты */

#amountscreen {
  margin: 0;
  background-color: #000;
  color: white;
  padding: 20px;

  /* display: flex задан через JS — не трогаем его */
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  text-align: left;
  flex: none;
}

.header {
  font-size: 20px;
  margin: 30px 5px;
}
.label {
  font-size: 12px;
  color: #aaa;
  padding-bottom:2px;
}
.value-box {
  background-color: #1c1c1e;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 15px;
}
.value {
  font-size: 16px;
  color: white;
}
.input-box {
  background-color: #1c1c1e;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 15px;
}
.amount-input {
  width: 100%;
  font-size: 24px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
}
.commission {
  font-size: 12px;
  color: #aaa;
  margin-top: 4px;
  text-align: center;
}
.card-box {
  background-color: #1c1c1e;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;  
}
.card-left {
  display: flex;
  align-items: center;
}
.card-icon {
  width: 32px;
  height: 32px;
  background-color: #00c48c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-weight: bold;
}
.card-number {
  letter-spacing: 1px;
}
.card-right {
  border-radius: 6px;
  padding: 4px 8px;
  color: black;
  font-weight: bold;
  width: 64px;
  height: 40px;
}
.pay-button {
  width: 100%;
  background-color: #ffcc00;
  color: black;
  padding: 14px;
  border: none;
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
}

.amount-input {
	font-family: inherit;
	font-weight: 700;
}



/* ГАЛОЧКА */


.clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 20px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.clock{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
    border: 10px solid #088840;
    border-radius: 50%;
}


.clock:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #088840;
    border-radius: 50%;
    z-index: 999;
}

.clock .hour,
.clock .min{
    position: absolute;
	
}

.clock .hour, .hr{
    width: 22px;
    height: 22px;
	
}
.clock .min, .mn{
    width: 44px;
    height: 44px;
}


.hr, .mn{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
	
}

.hr{
	
    transform: rotateZ(-55deg);
}
.mn{
	
    transform: rotateZ(45deg);
}
.hr:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 11px;
    z-index: 10;
	background-color: #088840;
    border-radius: 3px;
	
}
.mn:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 22px;
	background-color: #088840;
    border-radius: 3px;
    z-index: 11;
}

    .success-text {
      color: #088840;
      font-size: 20px;
      margin-top: 20px;
      font-weight: bold;
    }

    .tickAmount {
      font-size: 24px;
      margin-top: 10px;
	  color:#a1a1a1;
	  font-weight: 700;

    }


    .description {
      font-size: 16px;
      color: #606060;
      margin: 8px 0;
    }
